@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Oswald:400,700);

body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

.logo {
	padding: 0px;
	margin: 0px;
	text-align: left;
}

h1.logo {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 64px;
}
h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 48px;
}

.navbar li {
	display:inline;
}

ul.navbar {
	list-style: none;
	text-align: center;
}

.center {
	vertical-align: center;
	display: block;
	width: 50%;
	clear:both;
	margin: auto;
	padding: 10px;
}

.filter-white {
	background-color: white;
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.schedule th {
	text-align: left;
	padding-right: 10px;
}

.schedule td {
	text-align: left;
}
.nav-elem a {
	display: inline-block;
	padding: 0px 20px 0px 20px;
	text-decoration: none;
	color: black;
	font-size: 20px;
}

.nav-elem a:hover {
	color: gray;
}
.top {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 50px;
}


.main {
	position: fixed;
	top: 50px;
	width: 100%;
	height: calc(100% - 50px);
	overflow-y: scroll;
}

.page {
	width: 100%;
	height: 100%;
/*	padding: 0px 20px 0px 20px;*/
}


#overview {
	position: absolute;
	top: 100%;
	background-image: url('shapes.jpg');
	background-size: 100%;
}

#logistics {
	position: absolute;
	top:200%;
	
}
#materials {
	position: absolute;
	top: 300%;
	
}
#schedule {
	position: absolute;
	top: 400%;
}

.brand {
	position: absolute;
	bottom: 100px;
	left: 50px;
}

.title {
	padding-top: 20px;
	clear: both;
	text-align: center;
}

.bottom-right {
	position: absolute;
	right: 80px;
	bottom: 10%;

}

.bottom-left {
	position: absolute;
	left: 80px;
	bottom: 10%;
}

.top-left {
	position: absolute;
	left: 80px;
	top: 25%;
}

.top-right {
	position: absolute;
	right: 80px;
	top: 35%;
}
.small {
	width: 240px;
	height:240px;
}

.medium {
	width: 360px;
	height:360px;
}

.large {
	width: 480px;
	height:480px;
}
.image img{
	position: absolute;
	bottom:5%;
	max-width: 100%;
	height: auto;
}


.image-row {
	position: inherit;
	top: 40px;
	width: 100%;
	height: 30%;
}
.one-third {
	padding: 5px;
	position: inherit;
	width: 30%;
	height: 30%;
}

.one {
	left: 0px;
}

.two {
	left: 33%;
}

.three {
	left: 66%;
}

.grey {
	background-color: #DCDCDC;
}

.textbox {
	width: 40%;
	padding:10px;
}

hr {
  width: 60%; 
  height: 2px;
  margin: auto;
  border: none; 
  background: #ddd;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      right bottom,
      color-stop(0, rgb(255,255,255)),
      color-stop(0.1, rgb(221,221,221)),
      color-stop(0.9, rgb(221,221,221)),
      color-stop(1, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      left center,
      rgb(255,255,255) 0%,
      rgb(221,221,221) 10%,
      rgb(221,221,221) 90%,
      rgb(255,255,255) 100%
  );
}
